<header class="header">
  <nav class="header__nav">
    <ul class="header__nav-ul">
      <li class="header__nav-ul-li"><a href="#">Gmail</a></li>
      <li class="header__nav-ul-li"><a href="#">Imágenes</a></li>
      <li class="header__nav-ul-li-icon"><a href="#"></a></li>
      <li class="header__nav-ul-li">
        <a href="#"
          ><img
            class="header__nav-ul-li-image"
            src="https://lh3.googleusercontent.com/ogw/AOh-ky0WYu4jAfD2wNBhgjkJJbU-45JjSVmtDNFviz6V=s32-c-mo"
            alt="Cuenta de google"
            title="Cuenta de google"
        /></a>
      </li>
    </ul>
  </nav>
</header>
